h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: Enriqueta,Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.navbar-parallax {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-parallax .navbar-brand {
  color: #FFFFFF;
  background-image: url('../images/github-logo.png');
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 35px;
}
.navbar-parallax .navbar-brand:hover, .navbar-parallax .navbar-brand:focus {
  color: #6AACBF;
}
.navbar-parallax .navbar-text {
  color: #FFFFFF;
}
.navbar-parallax .navbar-nav > li > a {
  color: #FFFFFF;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-parallax .navbar-nav > li > a:hover, .navbar-parallax .navbar-nav > li > a:focus {
  color: #6AACBF;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-parallax .navbar-nav > .active > a, .navbar-parallax .navbar-nav > .active > a:hover, .navbar-parallax .navbar-nav > .active > a:focus {
  color: #6AACBF;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-parallax .navbar-nav > .open > a, .navbar-parallax .navbar-nav > .open > a:hover, .navbar-parallax .navbar-nav > .open > a:focus {
  color: #6AACBF;
  background-color: rgba(0, 0, 0, 0);
}
.navbar-parallax .navbar-toggle:hover, .navbar-parallax .navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-parallax .navbar-toggle .icon-bar {
  background-color: rgba(0, 0, 0, 0);
}
.navbar-parallax .navbar-collapse,
.navbar-parallax .navbar-form {
  border-color: #FFFFFF;
}
.navbar-parallax .navbar-link {
  color: #FFFFFF;
}
.navbar-parallax .navbar-link:hover {
  color: #6AACBF;
}

@media (max-width: 767px) {
  .navbar-parallax .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
  }
  .navbar-parallax .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-parallax .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #6AACBF;
  }
  .navbar-parallax .navbar-nav .open .dropdown-menu > .active > a, .navbar-parallax .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-parallax .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #6AACBF;
    background-color: rgba(0, 0, 0, 0);
  }
}

.img-txt {
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  color: #FFFFFF;
}

#intro { 
  background: url(../images/intro.jpg) fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  margin: 0 auto;
  width: 100%;
  position: relative;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

#home { 
  background: url(../images/home.jpg) 50% 0 fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;  
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 200px 0;
}

#about { 
  background: url(../images/about.png) 50% 0 fixed;
  background-repeat: no-repeat;
  background-size: 100%;
  height: auto;
  margin: 0 auto; 
  width: 100%; 
  position: relative; 
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
  padding: 100px 0;
  color: #fff;
}

.media-object { width: 64px; height: 64px; padding-bottom: 30px }

.project-image {
  padding: 20px;
}

.project-item {
  font-style: italic;
  padding-left: 5px;
}

.text-muted {
    color: #6AACBF;
}

a, a:visited {
  text-decoration: none;
  color: #6AACBF;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
  color: #4488BF;
  font-weight: bold;
}